{#
This is a demo template for the authentication form. Please consider overwriting this with your own template,
especially when you're using different route names than the ones used here.
#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% block stylesheets %}
        {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
            <link rel="stylesheet" href="{{ asset(stylesheet) }}">
        {% endfor %}
    {% endblock %}
</head>
<body>
<div class="container body">
    <div class="main_container">
        <div class="row" style="margin:20px 0">
            <div class="col-md-3 col-sm-1 col-xs-1"></div>
            <div class="col-md-6 col-sm-11 col-xs-11">
                <img src="{{ asset('assets/images/Dagma_Logo_small_light.png') }}" width="250px"/>
            </div>
            <div class="col-md-3 col-sm-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-1 col-xs-1"></div>
            <div class="col-md-6 col-sm-11 col-xs-11">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Second-Factor-Authentification</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <div>
                                <div id="step-1" class="content" style="display: block;">
                                    {# Authentication errors #}
                                    {% if authenticationError %}
                                    <p>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</p>
                                    {% endif %}

                                    <form class="form-horizontal form-label-left" action="{{ path("2fa_login_check") }}" method="post">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="auth_code">
                                                Auth-Code <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="_auth_code" name="{{ authCodeParameterName }}" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        {% if displayTrustedOption %}
                                            <p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label></p>
                                        {% endif %}
                                        {% if isCsrfProtectionEnabled %}
                                            <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                                        {% endif %}
                                        <div class="form-group">
                                            <div class="control-label col-md-9 col-sm-9 col-xs-12">
                                                <a class="btn btn-primary" href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a>
                                                <input type="submit" id="_submit" name="_submit" class="buttonNext btn btn-success" value="{{ "login"|trans({}, 'SchebTwoFactorBundle') }}" />
                                            </div>
                                        </div>
                                    </form>

                                    {# The logout link gives the user a way out if they can't complete two-factor authentication #}
                                    <p class="cancel"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-1 col-xs-1"></div>
        </div>
    </div>
</div>
</body>
</html>