.dimensions-skizze div{
    display:none;
}

.color-darkred {
    color:#8b0000;
}

.color-blue {
    color: #1e90ff;
}

.color-red {
    color: #ff0000;
}

.color-darkgreen {
    color: #228b22;
}

.color-orange {
    color: #ff8c00;
}

.color-yellow {
    color: #fdee00;
}

.color-brown {
    color: #8b4513;
}

.color-purple {
    color: #800080;
}

.color-green {
    color: #32cd32;
}

.color-black {
    color:#000000;
}

.border-color-darkred {
    border-color: #8b0000;
}

.border-color-blue {
    border-color: #1e90ff;
}

.border-color-red {
    border-color: #ff0000;
}

.border-color-darkgreen {
    border-color: #228b22;
}

.border-color-orange {
    border-color: #ff8c00;
}

.border-color-yellow {
    border-color:#fdee00;
}

.border-color-brown {
    border-color: #8b4513;
}

.border-color-purple {
    border-color: #800080;
}

.border-color-green {
    border-color: #32cd32;
}

.border-color-black {
    border-color:#000000;
}
/** Navi Icon < **/
.smallWidth {
    width:20px;
}