<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
                <link rel="stylesheet" href="{{ asset(stylesheet) }}">
            {% endfor %}
        {% endblock %}
    </head>
    <body>
        <div class="container body">
            <div class="main_container">
                <div class="row" style="margin:20px 0">
                    <div class="col-md-3 col-sm-1 col-xs-1"></div>
                    <div class="col-md-6 col-sm-11 col-xs-11">
                        <img src="{{ asset('assets/images/Dagma_Logo_small_light.png') }}" width="250px"/>
                    </div>
                    <div class="col-md-3 col-sm-1 col-xs-1"></div>
                </div>

                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div>
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </body>
</html>
