<br />
{% if is_granted('ROLE_MASTERUSER','ROLE_LIGHTADMIN') %}
<a href="{{ admin.generateObjectUrl('auditList', object) }}" class="btn btn-sm btn-default" title="Show Revisions">
    <i class="fa fa-copy" aria-hidden="true"></i>
    Show Revisions
</a>
<br/>
{% endif %}
<a href="{{ admin.generateObjectUrl('createPDF', object) }}" class="btn btn-sm btn-default pdf_link" title="PDF" target="_blank">
    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
    Create PDF
</a>
{% if is_granted('ROLE_MASTERUSER','ROLE_LIGHTADMIN') %}
    <br/>
    <a href="{{ admin.generateObjectUrl('copyDatasheet', object) }}" class="btn btn-sm btn-default" title="Copy Datasheet">
        <i class="fa fa-copy" aria-hidden="true"></i>
        Copy Data Sheet
    </a>
{% endif %}