{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.chained.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/jquery.wizard_for_type.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/tant_dagma.css') }}">
{% endblock %}

{% block title %}
    {# NEXT_MAJOR: remove default filter #}
    {% if objectId|default(admin.id(object)) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{%- block actions -%}
    {% include '@KinulabSonataGentellelaTheme/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{%- block tab_menu -%}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass': 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{%- endblock -%}

{% use '@KinulabSonataGentellelaTheme/CRUD/base_edit_form.html.twig' with form as parentForm %}

{% block form %}
{% if 'create' in app.request.uri %}
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-primary">
                            <div class="x_title">
                                <h4>
                                    Light-Type-Wizard
                                </h4>
                            </div>
                            <div class="x_content">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Main-Category
                                        </label>
                                        <select id="wizard_maincategory" name="wizard_maincategory">
                                            <option value="">--</option>
                                            <option value="lights">Lights</option>
                                        </select>
                                        <label class="control-label">
                                            Sub-Category
                                        </label>
                                        <select id="wizard_subcategory" name="wizard_subcategory">
                                            <option value="">--</option>
                                            <option value="ceiling" data-chained="lights">Ceiling</option>
                                            <option value="ground" data-chained="lights">Ground</option>
                                            <option value="wall" data-chained="lights">Wall</option>
                                            <option value="linear" data-chained="lights">Linear</option>
                                            <option value="equipment" data-chained="lights">Equipment</option>
                                            <option value="furniture" data-chained="lights">Furniture</option>
                                            <option value="precab" data-chained="lights">Precab</option>
                                        </select>
                                        <label class="control-label">
                                            Subclass
                                        </label>
                                        <select id="wizard_subclass" name="wizard_subclass">
                                            <option value="">--</option>
                                            <option value="technical" data-chained="ceiling">Technical</option>
                                            <option value="decorative" data-chained="ceiling">Decorative</option>
                                            <option value="architectural" data-chained="ceiling">Architectural</option>
                                            <option value="ground" data-chained="ground">Ground</option>
                                            <option value="wall" data-chained="wall">Wall</option>
                                            <option value="linear" data-chained="linear">Linear</option>
                                            <option value="equipment" data-chained="equipment">Equipment</option>
                                            <option value="furniture" data-chained="furniture">Furniture</option>
                                            <option value="precab" data-chained="precab">Precab</option>
                                        </select>
                                        <label class="control-label">
                                            Description
                                        </label>
                                        <select id="wizard_description" name="wizard_description">
                                            <option value="">--</option>
                                            <option value="technical_ceilingLights" data-chained="technical">Ceiling lights</option>
                                            <option value="technical_engineRoomLights" data-chained="technical">Engine room lights</option>
                                            <option value="technical_galleysRefridgeratedRoomLights" data-chained="technical">Galleys & Refridgerated room lights</option>
                                            <option value="technical_exLights" data-chained="technical">EX-Lights</option>
                                            <option value="technical_exitLights" data-chained="technical">Exit lights</option>
                                            <option value="decorative_decorativeCeilingLights" data-chained="decorative">Decorative ceiling lights</option>
                                            <option value="decorative_festoonLights" data-chained="decorative">Festoon lights</option>
                                            <option value="architectural_compactFluoresent" data-chained="architectural">Compact fluoresent</option>
                                            <option value="architectural_lowVoltageHalogen" data-chained="architectural">low-voltage halogen</option>
                                            <option value="architectural_mainVoltageIncandescentLEDDownlights" data-chained="architectural">main voltage incandescent, LED downlights</option>
                                            <option value="architectural_wallWashersAndAdjustableLED" data-chained="architectural">Wall-washers and adjustable LED</option>
                                            <option value="architectural_trackLights" data-chained="architectural">Track lights</option>
                                            <option value="architectural_battenLuminaires" data-chained="architectural">Batten luminaires</option>
                                            <option value="architectural_outdoorLights" data-chained="architectural">Outdoor lights</option>
                                            <option value="ground_standingLights" data-chained="ground">Standing lights</option>
                                            <option value="ground_floodLights" data-chained="ground">Flood lights</option>
                                            <option value="ground_stepLights" data-chained="ground">Step lights</option>
                                            <option value="ground_outdoorLights" data-chained="ground">Outdoor lights</option>
                                            <option value="ground_uplights" data-chained="ground">Uplights</option>
                                            <option value="ground_bollardLights" data-chained="ground">Bollard lights</option>
                                            <option value="ground_lightPillars" data-chained="ground">Light pillars</option>
                                            <option value="ground_poolLights" data-chained="ground">Pool lights</option>
                                            <option value="wall_bedLights" data-chained="wall">Bed lights</option>
                                            <option value="wall_mirrorLights" data-chained="wall">Mirror lights</option>
                                            <option value="wall_wallLights" data-chained="wall">Wall lights</option>
                                            <option value="wall_floodLights" data-chained="wall">Flood lights</option>
                                            <option value="wall_outdoorLights" data-chained="wall">Outdoor lights</option>
                                            <option value="linear_ledlinearLights" data-chained="linear">Led linear lights</option>
                                            <option value="linear_ledPanels" data-chained="linear">Led-panels</option>
                                            <option value="linear_LEDModules" data-chained="linear">LED modules</option>
                                            <option value="equipment_fiberOpticProjectors" data-chained="equipment">Fiber optic projectors</option>
                                            <option value="equipment_transformersAndDrivers" data-chained="equipment">Transformers and drivers</option>
                                            <option value="equipment_bulbs" data-chained="equipment">Bulbs</option>
                                            <option value="equipment_additionalPartsForFiberOptic" data-chained="equipment">Additional parts for fiber optic</option>
                                            <option value="equipment_motionDetectors" data-chained="equipment">Motion detectors</option>
                                            <option value="equipment_trackSystemAdditionalParts" data-chained="equipment">Track system additional parts</option>
                                            <option value="furniture_mirrorLights" data-chained="furniture">Mirror lights</option>
                                            <option value="furniture_tableLights" data-chained="furniture">Table lights</option>
                                            <option value="furniture_furnitureShowcase" data-chained="furniture">Furniture & Showcase</option>
                                            <option value="precab_cabinlights" data-chained="precab">Cabinlights</option>
                                        </select>
                                        <label>
                                            BK (old)
                                        </label>
                                        <select id="wizard_bk" name="wizard_bk">
                                            <option value="">--</option>
                                            <option value="05" data-end="LCT" data-chained="technical_ceilingLights">05</option>
                                            <option value="13" data-end="LCT" data-chained="technical_engineRoomLights">13</option>
                                            <option value="14" data-end="LCT" data-chained="technical_galleysRefridgeratedRoomLights">14</option>
                                            <option value="16" data-end="LCT" data-chained="technical_exLights">16</option>
                                            <option value="31" data-end="LCT" data-chained="technical_exitLights">31</option>
                                            <option value="11p" data-end="LCD" data-chained="decorative_decorativeCeilingLights">11</option>
                                            <option value="11f" data-end="LCD" data-chained="decorative_festoonLights">11</option>
                                            <option value="01" data-end="LCA" data-chained="architectural_compactFluoresent">01</option>
                                            <option value="02" data-end="LCA" data-chained="architectural_lowVoltageHalogen">02</option>
                                            <option value="03" data-end="LCA" data-chained="architectural_mainVoltageIncandescentLEDDownlights">03</option>
                                            <option value="04d" data-end="LCA" data-chained="architectural_wallWashersAndAdjustableLED">04</option>
                                            <option value="04t" data-end="LCA" data-chained="architectural_trackLights">04</option>
                                            <option value="12" data-end="LCA" data-chained="architectural_battenLuminaires">12</option>
                                            <option value="18" data-end="LCA" data-chained="architectural_outdoorLights">18</option>
                                            <option value="09" data-end="LG" data-chained="ground_standingLights">09</option>
                                            <option value="15" data-end="LG" data-chained="ground_floodLights">15</option>
                                            <option value="17" data-end="LG" data-chained="ground_stepLights">17</option>
                                            <option value="18f" data-end="LG" data-chained="ground_outdoorLights">18</option>
                                            <option value="18f" data-end="LG" data-chained="ground_uplights">18</option>
                                            <option value="18b" data-end="LG" data-chained="ground_bollardLights">18</option>
                                            <option value="18b" data-end="LG" data-chained="ground_lightPillars">18</option>
                                            <option value="18f" data-end="LG" data-chained="ground_poolLights">18</option>
                                            <option value="06" data-end="LW" data-chained="wall_bedLights">06</option>
                                            <option value="07" data-end="LW" data-chained="wall_mirrorLights">07</option>
                                            <option value="08" data-end="LW" data-chained="wall_wallLights">08</option>
                                            <option value="15" data-end="LW" data-chained="wall_floodLights">15</option>
                                            <option value="18" data-end="LW" data-chained="wall_outdoorLights">18</option>
                                            <option value="19l" data-end="LL" data-chained="linear_ledlinearLights">19</option>
                                            <option value="19p" data-end="LL" data-chained="linear_ledPanels">19</option>
                                            <option value="19" data-end="LL" data-chained="linear_LEDModules">19</option>
                                            <option value="21" data-end="LE" data-chained="equipment_fiberOpticProjectors">21</option>
                                            <option value="30" data-end="LE" data-chained="equipment_transformersAndDrivers">30</option>
                                            <option value="90" data-end="LE" data-chained="equipment_bulbs">90</option>
                                            <option value="93" data-end="LE" data-chained="equipment_additionalPartsForFiberOptic">93</option>
                                            <option value="94" data-end="LE" data-chained="equipment_motionDetectors">94</option>
                                            <option value="95" data-end="LE" data-chained="equipment_trackSystemAdditionalParts">95</option>
                                            <option value="07" data-end="LF" data-chained="furniture_mirrorLights">07</option>
                                            <option value="10" data-end="LF" data-chained="furniture_tableLights">10</option>
                                            <option value="20" data-end="LF" data-chained="furniture_furnitureShowcase">20</option>
                                            <option value="40" data-end="LP" data-chained="precab_cabinlights">40</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {{ block('parentForm') }}
{% endblock %}
