<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        @page {
            margin: 140px 50px 0 50px;
        }

        table {
            /*border: 1px solid #E9E9E9;*/
            width:100%
        }

        .noborder {
            border: 0px;
        }
        tr,td {
            border: 1px solid #E9E9E9;
        }
        .bg_grey {
            background-color:slategray;
            color:white;
        }

        .bg_light_grey {
            background-color:#F6F6F6;
        }
        .center {
            text-align:center;
        }

        header {
            position: fixed;
            top: -100px;
            left: 0px;
            right: 0px;
            height: 100px;
        }

        footer {
            position: fixed;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 50px;
            border-top: 3px solid slategray;
        }

        footer .page-number:after {
            content: counter(page);
        }
    </style>
    <title>{{ datasheet.id }} - {{ datasheet.description }}</title>
</head>
<body>
    <header>
        <table>
            <tr class="noborder">
                <td colspan="1" rowspan="2" class="noborder">
                    <img src=".{{ datasheet.logo }}" width="200px"/>
                </td>
                <td class="bg_light_grey">
                    System-No:
                </td >
                <td colspan="3">
                    {{ datasheet.id }}
                </td>
            </tr>
            <tr>
                <td class="bg_light_grey">Rev. No.:</td>
                <td colspan="3">{{ datasheet.revision }}</td>
            </tr>
        </table>
    </header>
    <footer>
        <table class="noborder">
            <td width="25%" class="center noborder">Generated by: dump(datasheet.lastEditor)</td>
            <td width="25%" class="center noborder">{{ datasheet.modified|date('Y-m-d') }}</td>
            <td width="25%" class="center noborder">{{ datasheet.id }}.pdf</td>
            <td width="25%" class="center noborder"><span class="page-number">Page </span></td>
        </table>
    </footer>
    <!-- table electrical and related attribute -->
    <table>
        <tr class="noborder">
            <td colspan="4" class="bg_grey center noborder">
                <strong>Electrical and related attributes</strong>
            </td>
        </tr>
        <tr>
            <td class="bg_light_grey">Description</td>
            <td colspan="3">{{ datasheet.description }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey" width="22%">Voltage [V]</td>
            <td>{{ datasheet.voltage }}</td>
            <td class="bg_light_grey" width="22%">Dimmer type</td>
            <td>{{ datasheet.dimmerType }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Frequency</td>
            <td>{{ datasheet.frequency }}</td>
            <td class="bg_light_grey">Plug</td>
            <td>{{ datasheet.plug }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">IP-class</td>
            <td>{{ datasheet.ip_class }}</td>
            <td class="bg_light_grey">Driver</td>
            <td>{{ datasheet.driver }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Power of fitting [VA]</td>
            <td>{{ datasheet.power_of_fitting }}</td>
            <td class="bg_light_grey">Number of lamps</td>
            <td>{{ datasheet.number_of_lamp }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Socket</td>
            <td>{{ datasheet.socket }}</td>
            <td class="bg_light_grey">Type of bulb</td>
            <td>{{ datasheet.type_of_bulb }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Type of lamp</td>
            <td>{{ datasheet.type_of_lamp }}</td>
            <td class="bg_light_grey">Power of lamp [W]</td>
            <td>{{ datasheet.power_of_lamp }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Lightpoints</td>
            <td colspan="3">{{ datasheet.lightpoints }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey" width="25%">Adjusting angle [o]</td>
            <td>{{ datasheet.adjustingAngle }}</td>
        </tr>
    </table>

    <!-- table light information -->
    <table>
        <tr class="noborder">
            <td colspan="4" class="bg_grey center noborder">
                <strong>Light information</strong>
            </td>
        </tr>
        <tr>
            <td class="bg_light_grey" width="24%">CRI</td>
            <td width="26%">{{ datasheet.cri }}</td>
            <td class="bg_light_grey" width="24%">Light colour [K]</td>
            <td width="26%">{{ datasheet.light_colour }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Cover</td>
            <td>{{ datasheet.cover }}</td>
            <td class="bg_light_grey">Beam angle [o]</td>
            <td>{{ datasheet.beam_angle }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Colour of shade</td>
            <td>{{ datasheet.colour_of_shade }}</td>
            <td class="bg_light_grey">Material of shade</td>
            <td>{{ datasheet.material_of_shade }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Colour of housing</td>
            <td>{{ datasheet.colour_of_housing }}</td>
            <td class="bg_light_grey">Material of housing</td>
            <td>{{ datasheet.material_of_housing }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Fixture light output [lm]</td>
            <td colspan="3">{{ datasheet.fixture_light_output }}</td>
        </tr>
    </table>

    <!-- table dimensions -->
    <table>
        <tr class="noborder">
            <td colspan="2" class="bg_grey center noborder">
                <strong>Dimensions</strong>
            </td>
        </tr>
        {% if datasheet.length is not null %}
        <tr>
            <td class="bg_light_grey" width="25%">Length</td>
            <td>{{ datasheet.length }}</td>
        </tr>
        {% endif %}
        {% if datasheet.width is not null %}
        <tr>
            <td class="bg_light_grey" width="25%">Width</td>
            <td>{{ datasheet.width }}</td>
        </tr>
        {% endif %}
        {% if datasheet.height is not null %}
        <tr>
            <td class="bg_light_grey" width="25%">Height</td>
            <td>{{ datasheet.height }}</td>
        </tr>
        {% endif %}
        {% if datasheet.depth is not null %}
        <tr>
            <td class="bg_light_grey" width="25%">Depth</td>
            <td>{{ datasheet.depth }}</td>
        </tr>
        {% endif %}
        {% if datasheet.diameter_complete is not null %}
        <tr>
            <td class="bg_light_grey" width="25%">Diameter(complete)</td>
            <td>{{ datasheet.diameter_complete }}</td>
        </tr>
        {% endif %}
        {% if datasheet.diameter_cutout is not null %}
        <tr>
            <td class="bg_light_grey" width="25%">Diameter(cut-out)</td>
            <td>{{ datasheet.diameter_cutout }}</td>
        </tr>
        {% endif %}
        {% if datasheet.mountingDepth is not null %}
        <tr>
            <td class="bg_light_grey" width="25%">Mounting Depth</td>
            <td>{{ datasheet.mountingDepth }}</td>
        </tr>
        {% endif %}
        {% if datasheet.depth_in_sight is not null %}
        <tr>
            <td class="bg_light_grey" width="25%">Depth in sight</td>
            <td>{{ datasheet.depth_in_sight }}</td>
        </tr>
        {% endif %}
        {% if datasheet.distance is not null %}
        <tr>
            <td class="bg_light_grey" width="25%">Distance</td>
            <td>{{ datasheet.distance }}</td>
        </tr>
        {% endif %}
        {% if datasheet.connection is not null %}
        <tr>
            <td class="bg_light_grey" width="25%">Connection</td>
            <td>{{ datasheet.connection }}</td>
        </tr>
        {% endif %}
    </table>

    <!-- table remarks -->
    <table>
        <tr class="noborder">
            <td colspan="4" class="bg_grey center noborder">
                <strong>Remarks</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4">valie</td>
        </tr>
        <tr>
            <td colspan="2" width="15%" class="bg_light_grey">Reference</td>
            <td colspan="2"></td>
        </tr>
    </table>

    <!-- table contact -->
    <table>
        <tr class="noborder">
            <td colspan="4" class="bg_grey center noborder">
                <strong>Contact</strong>
            </td>
        </tr>
        <tr>
            <td class="bg_light_grey">Manufacturer</td>
            <td colspan="3">{{ datasheet.manufacturer }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey" width="15%">Supplier</td>
            <td width="35%">{{ datasheet.supplier }}</td>
            <td class="bg_light_grey" width="15%">Article No.</td>
            <td width="35%">{{ datasheet.article_no }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Street</td>
            <td>{{ datasheet.supplier_street }}</td>
            <td class="bg_light_grey">Telephone</td>
            <td>{{ datasheet.supplier_phone }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Location</td>
            <td>{{ datasheet.supplier_location }}</td>
            <td class="bg_light_grey">Fax</td>
            <td>{{ datasheet.supplier_fax }}</td>
        </tr>
        <tr>
            <td class="bg_light_grey">Country</td>
            <td>{{ datasheet.supplier_country }}</td>
            <td class="bg_light_grey">E-Mail</td>
            <td>{{ datasheet.supplier_mail }}</td>
        </tr>
    </table>

    <!-- table image -->
    <table style="page-break-before: always;">
        <tr class="noborder">
            <td colspan="4" class="bg_grey center noborder">
                <strong>Picture</strong>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="bg_light_grey center">Skizze</div>
                <img src=".{{ datasheet.skizze }}" width="340px"/>
            </td>
            <td colspan="2">
                <div class="bg_light_grey center">Image</div>
                <img src=".{{ datasheet.image }}" width="340px"/>
            </td>
        </tr>
    </table>
</body>
</html>