{% extends base_template %}
{% block sonata_admin_content %}
    <section class="content-header">

        <nav class="nav" role="navigation">
            <div class="container">
                <div class="navbar-collapse x_panel tab-menu-header">
                    <h1>System-No: {{ lightType }}</h1>
                    <p>{{ description }}</p>
                </div>
            </div>
        </nav>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="x_panel" style="margin-bottom: 100px;">
                    <div class="x_content table-responsive no-padding">



                        <table class="table table-bordered table-striped sonata-ba-list">
                            <thead>
                            <tr class="sonata-ba-list-field-header">
                                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                    Status
                                </th>
                                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                    Rev. No.
                                </th>
                                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                    Change Date
                                </th>
                                <th class="sonata-ba-list-field-header-text  sonata-ba-list-field-header-order-asc ">Actions</th>
                            </thead>

                            <tbody>
                            {% for link in links %}
                                <tr>
                                    <td>
                                        {{ link.status }}
                                    </td>
                                    <td>
                                        {{ link.revision }}
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text" objectid="85">
                                        {{ link.date }}
                                    </td>
                                    <td>
                                        <a href="{{ link.link }}" class="btn btn-sm btn-default pdf_link" title="PDF" target="_blank">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                            Show PDF
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}