{% trans_default_domain 'FOSUserBundle' %}


{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="row">
    <div class="col-md-3 col-sm-1 col-xs-1"></div>
    <div class="col-md-6 col-sm-10 col-xs-10">
        <div class="x_panel">
            <div class="x_title">
                <h2>Login</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <div>
                        <div id="step-1" class="content" style="display: block;">
                            <form class="form-horizontal form-label-left" action="{{ path("fos_user_security_check") }}" method="post">
                                {% if csrf_token %}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                {% endif %}
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">
                                        {{ 'security.login.username'|trans }} <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="username" required="required" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                                        {{ 'security.login.password'|trans }} <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top:8px">
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-9 col-sm-9 col-xs-12">
                                        <input type="submit" id="_submit" name="_submit" class="buttonNext btn btn-success" value="{{ 'security.login.submit'|trans }}" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-1 col-xs-1"></div>
</div>
