{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div style="font-size: 28px; margin-bottom:60px; text-align: center; color:white">
        Looks like you´re lost at sea… <br/>
        Let´s see if we can get you back on course…<br/>
        <a style="color:white" href="mailto:helpdesk@dagma.steuerbar.systems">helpdesk@dagma.steuerbar.systems</a>
    </div>
    <div style="text-align: center">
        <img src="{{ asset('assets/images/Error_Page_404_weiß.png') }}" />
    </div>
{% endblock %}