{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div style="font-size: 28px; margin-bottom:60px; text-align: center; color:white">
        Oh sorry, maybe our server is lost at sea. We are looking for it, please try again later.
        <a style="color:white" href="mailto:helpdesk@dagma.steuerbar.systems">helpdesk@dagma.steuerbar.systems</a>
    </div>
    <div style="text-align: center">
        <img src="{{ asset('assets/images/Error_Page_500_weiß.png') }}" />
    </div>
{% endblock %}